In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [21]:
news = {
    '날짜': [],
    '기사개수': []
}

for i in range(1, 31):
    
    news_count = 0
    start = 1
    
    while True:
        
        day = ''
        
        if i < 10:
            day = '0' + str(i)
        else:
            day = str(i)
        
        params = {
            'where': 'news',
            'sm': 'tab_pge',
            'query': '삼성전자',
            'sort': 1,
            'photo': 0,
            'field': 0,
            'pd': 3,
            'ds': '2021.10.' + day,
            'de': '2021.10.' + day,
            'mynews': 0,
            'office_type': 0,
            'office_section_code': 0,
            'news_office_checked': '',
            'nso': f'so:dd,p:from202111{day}to202111{day},a:all',
            'start': start
        }
        response = requests.get('https://search.naver.com/search.naver', params=params)
        soup = BeautifulSoup(response.text, 'html.parser')

        news_count += len(soup.select('ul.list_news > li'))

        if soup.select_one('div.not_found02') != None:
            print("기사끝")
            break

        start += 10
    
    news['날짜'].append('202110' + day)
    news['기사개수'].append(news_count)
    print('202110' + day)

기사끝
20211001
기사끝
20211002
기사끝
20211003
기사끝
20211004
기사끝
20211005
기사끝
20211006
기사끝
20211007
기사끝
20211008
기사끝
20211009
기사끝
20211010
기사끝
20211011
기사끝
20211012
기사끝
20211013
기사끝
20211014
기사끝
20211015
기사끝
20211016
기사끝
20211017
기사끝
20211018
기사끝
20211019
기사끝
20211020
기사끝
20211021
기사끝
20211022
기사끝
20211023
기사끝
20211024
기사끝
20211025
기사끝
20211026
기사끝
20211027
기사끝
20211028
기사끝
20211029
기사끝
20211030

In [73]:
news_df = pd.DataFrame(news, columns=['기사개수'], index=news['날짜'])

In [26]:
news_df

          기사개수
20211001   576
20211002    83
20211003   127
20211004   226
20211005   926
20211006   907
20211007  1175
20211008   983
20211009   252
20211010   209
20211011   426
20211012  1375
20211013   948
20211014   939
20211015   729
20211016    93
20211017   404
20211018   937
20211019   603
20211020   874
20211021   869
20211022   551
20211023    92
20211024   274
20211025   827
20211026  1030
20211027   983
20211028  1616
20211029   523
20211030    93

In [27]:
stock = {
    '날짜': [],
    '코스피지수': []
}

headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36'
}

for page in range(3,5):
    response = requests.get('https://finance.naver.com/item/sise_day.naver?code=005930&page=' + str(page), headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')

    for item in soup.select('table.type2 tr'):
        if len(item.select('td'))== 7:
            stock['날짜'].append(item.select('td')[0].text.replace('.',''))
            stock['코스피지수'].append(item.select('td')[1].text.replace(',',''))

In [28]:
stock_df = pd.DataFrame(stock, columns=['코스피지수'], index=stock['날짜'])

In [99]:
news_df

          기사개수
20211001   576
20211002    83
20211003   127
20211004   226
20211005   926
20211006   907
20211007  1175
20211008   983
20211009   252
20211010   209
20211011   426
20211012  1375
20211013   948
20211014   939
20211015   729
20211016    93
20211017   404
20211018   937
20211019   603
20211020   874
20211021   869
20211022   551
20211023    92
20211024   274
20211025   827
20211026  1030
20211027   983
20211028  1616
20211029   523
20211030    93

In [98]:
stock_df

          코스피지수
20211029  69800
20211028  70700
20211027  70100
20211026  71100
20211025  70200
20211022  70400
20211021  70200
20211020  70300
20211019  70600
20211018  70200
20211015  70100
20211014  69400
20211013  68800
20211012  69000
20211008  71500
20211007  71600
20211006  71300
20211005  72200
20211001  73200
20210930  74100

In [102]:
import copy

In [103]:
news_before = copy.deepcopy(news)

In [105]:
news_before['기사개수'].insert(0, 0)

In [107]:
news_before['기사개수'].pop(len(news_before['기사개수']) - 1)

93

In [112]:
news_before_df = pd.DataFrame(news_before, columns=['기사개수'], index=news_before['날짜'])

In [115]:
news_before_df.columns = ['전일기사개수']

In [118]:
news_all_df = pd.concat([news_df, news_before_df], axis=1)

In [120]:
news_all_df['기사비교'] = np.where(news_all_df['기사개수'] > news_all_df['전일기사개수'], '상승', '하락')

In [121]:
news_all_df

          기사개수  전일기사개수 기사비교
20211001   576       0   상승
20211002    83     576   하락
20211003   127      83   상승
20211004   226     127   상승
20211005   926     226   상승
20211006   907     926   하락
20211007  1175     907   상승
20211008   983    1175   하락
20211009   252     983   하락
20211010   209     252   하락
20211011   426     209   상승
20211012  1375     426   상승
20211013   948    1375   하락
20211014   939     948   하락
20211015   729     939   하락
20211016    93     729   하락
20211017   404      93   상승
20211018   937     404   상승
20211019   603     937   하락
20211020   874     603   상승
20211021   869     874   하락
20211022   551     869   하락
20211023    92     551   하락
20211024   274      92   상승
20211025   827     274   상승
20211026  1030     827   상승
20211027   983    1030   하락
20211028  1616     983   상승
20211029   523    1616   하락
20211030    93     523   하락

In [123]:
stock_before = copy.deepcopy(stock)

In [126]:
stock_before['코스피지수'].insert(0, 0)

In [127]:
stock_before['코스피지수'].pop(len(stock_before['코스피지수']) - 1)

'74100'

In [131]:
stock_before_df = pd.DataFrame(stock_before, columns=['코스피지수'], index=stock_before['날짜'])

In [133]:
stock_before_df.columns = ['전일코스피지수']

In [135]:
stock_all_df = pd.concat([stock_df, stock_before_df], axis = 1)

In [148]:
stock_all_df['코스피지수'] = stock_all_df['코스피지수'].astype('int64')

In [150]:
stock_all_df['전일코스피지수'] = stock_all_df['전일코스피지수'].astype('int64')

In [152]:
stock_all_df['코스피비교'] = np.where(stock_all_df['코스피지수'] > stock_all_df['전일코스피지수'], '상승', '하락')

In [158]:
all_df = pd.concat([stock_all_df,news_all_df], axis=1, join='inner')

In [159]:
all_df

          코스피지수  전일코스피지수 코스피비교  기사개수  전일기사개수 기사비교
20211029  69800        0    상승   523    1616   하락
20211028  70700    69800    상승  1616     983   상승
20211027  70100    70700    하락   983    1030   하락
20211026  71100    70100    상승  1030     827   상승
20211025  70200    71100    하락   827     274   상승
20211022  70400    70200    상승   551     869   하락
20211021  70200    70400    하락   869     874   하락
20211020  70300    70200    상승   874     603   상승
20211019  70600    70300    상승   603     937   하락
20211018  70200    70600    하락   937     404   상승
20211015  70100    70200    하락   729     939   하락
20211014  69400    70100    하락   939     948   하락
20211013  68800    69400    하락   948    1375   하락
20211012  69000    68800    상승  1375     426   상승
20211008  71500    69000    상승   983    1175   하락
20211007  71600    71500    상승  1175     907   상승
20211006  71300    71600    하락   907     926   하락
20211005  72200    71300    상승   926     226   상승
20211001  73200    72200    상승   576       0   상승

In [161]:
all_df.drop(['20211029', '20211001'], inplace=True)

In [169]:
all_df

          코스피지수  전일코스피지수 코스피비교  기사개수  전일기사개수 기사비교
20211028  70700    69800    상승  1616     983   상승
20211027  70100    70700    하락   983    1030   하락
20211026  71100    70100    상승  1030     827   상승
20211025  70200    71100    하락   827     274   상승
20211022  70400    70200    상승   551     869   하락
20211021  70200    70400    하락   869     874   하락
20211020  70300    70200    상승   874     603   상승
20211019  70600    70300    상승   603     937   하락
20211018  70200    70600    하락   937     404   상승
20211015  70100    70200    하락   729     939   하락
20211014  69400    70100    하락   939     948   하락
20211013  68800    69400    하락   948    1375   하락
20211012  69000    68800    상승  1375     426   상승
20211008  71500    69000    상승   983    1175   하락
20211007  71600    71500    상승  1175     907   상승
20211006  71300    71600    하락   907     926   하락
20211005  72200    71300    상승   926     226   상승

In [165]:
all_df[all_df['코스피비교'] == all_df['기사비교']]

          코스피지수  전일코스피지수 코스피비교  기사개수  전일기사개수 기사비교
20211028  70700    69800    상승  1616     983   상승
20211027  70100    70700    하락   983    1030   하락
20211026  71100    70100    상승  1030     827   상승
20211021  70200    70400    하락   869     874   하락
20211020  70300    70200    상승   874     603   상승
20211015  70100    70200    하락   729     939   하락
20211014  69400    70100    하락   939     948   하락
20211013  68800    69400    하락   948    1375   하락
20211012  69000    68800    상승  1375     426   상승
20211007  71600    71500    상승  1175     907   상승
20211006  71300    71600    하락   907     926   하락
20211005  72200    71300    상승   926     226   상승

In [166]:
all_df[all_df['코스피비교'] != all_df['기사비교']]

          코스피지수  전일코스피지수 코스피비교  기사개수  전일기사개수 기사비교
20211025  70200    71100    하락   827     274   상승
20211022  70400    70200    상승   551     869   하락
20211019  70600    70300    상승   603     937   하락
20211018  70200    70600    하락   937     404   상승
20211008  71500    69000    상승   983    1175   하락

In [167]:
len(all_df[all_df['코스피비교'] == all_df['기사비교']])

12

In [168]:
len(all_df[all_df['코스피비교'] != all_df['기사비교']])

5